<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>propeller1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{49,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,11}}</string>
                <key>sourceSize</key>
                <string>{49,11}</string>
            </dict>
            <key>propeller2.png</key>
            <dict>
                <key>frame</key>
                <string>{{15,2},{49,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,11}}</string>
                <key>sourceSize</key>
                <string>{49,11}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>smallPlanePropeller2.png</string>
            <key>size</key>
            <string>{28,53}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:140ebea61d292706a5f6feb0bc23bfe1$</string>
            <key>textureFileName</key>
            <string>smallPlanePropeller2.png</string>
        </dict>
    </dict>
</plist>
