<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flag_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{318,256}}</string>
                <key>offset</key>
                <string>{9,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,1},{318,256}}</string>
                <key>sourceSize</key>
                <string>{336,288}</string>
            </dict>
            <key>flag_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{314,260}}</string>
                <key>offset</key>
                <string>{11,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,1},{314,260}}</string>
                <key>sourceSize</key>
                <string>{336,288}</string>
            </dict>
            <key>flag_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,264},{310,264}}</string>
                <key>offset</key>
                <string>{13,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,2},{310,264}}</string>
                <key>sourceSize</key>
                <string>{336,288}</string>
            </dict>
            <key>flag_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{306,270}}</string>
                <key>offset</key>
                <string>{15,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,1},{306,270}}</string>
                <key>sourceSize</key>
                <string>{336,288}</string>
            </dict>
            <key>flag_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{310,264}}</string>
                <key>offset</key>
                <string>{13,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,2},{310,264}}</string>
                <key>sourceSize</key>
                <string>{336,288}</string>
            </dict>
            <key>flag_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{314,260}}</string>
                <key>offset</key>
                <string>{11,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,1},{314,260}}</string>
                <key>sourceSize</key>
                <string>{336,288}</string>
            </dict>
            <key>flag_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{318,256}}</string>
                <key>offset</key>
                <string>{9,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,1},{318,256}}</string>
                <key>sourceSize</key>
                <string>{336,288}</string>
            </dict>
            <key>flag_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{314,260}}</string>
                <key>offset</key>
                <string>{11,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,1},{314,260}}</string>
                <key>sourceSize</key>
                <string>{336,288}</string>
            </dict>
            <key>flag_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,264},{310,264}}</string>
                <key>offset</key>
                <string>{13,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,2},{310,264}}</string>
                <key>sourceSize</key>
                <string>{336,288}</string>
            </dict>
            <key>flag_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{306,270}}</string>
                <key>offset</key>
                <string>{15,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,1},{306,270}}</string>
                <key>sourceSize</key>
                <string>{336,288}</string>
            </dict>
            <key>flag_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{310,264}}</string>
                <key>offset</key>
                <string>{13,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,2},{310,264}}</string>
                <key>sourceSize</key>
                <string>{336,288}</string>
            </dict>
            <key>flag_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{314,260}}</string>
                <key>offset</key>
                <string>{11,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,1},{314,260}}</string>
                <key>sourceSize</key>
                <string>{336,288}</string>
            </dict>
            <key>flag_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{318,256}}</string>
                <key>offset</key>
                <string>{9,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,1},{318,256}}</string>
                <key>sourceSize</key>
                <string>{336,288}</string>
            </dict>
            <key>flag_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{314,260}}</string>
                <key>offset</key>
                <string>{11,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,1},{314,260}}</string>
                <key>sourceSize</key>
                <string>{336,288}</string>
            </dict>
            <key>flag_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,264},{310,264}}</string>
                <key>offset</key>
                <string>{13,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,2},{310,264}}</string>
                <key>sourceSize</key>
                <string>{336,288}</string>
            </dict>
            <key>flag_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{306,270}}</string>
                <key>offset</key>
                <string>{15,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,1},{306,270}}</string>
                <key>sourceSize</key>
                <string>{336,288}</string>
            </dict>
            <key>flag_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{310,264}}</string>
                <key>offset</key>
                <string>{13,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,2},{310,264}}</string>
                <key>sourceSize</key>
                <string>{336,288}</string>
            </dict>
            <key>flag_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{314,260}}</string>
                <key>offset</key>
                <string>{11,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,1},{314,260}}</string>
                <key>sourceSize</key>
                <string>{336,288}</string>
            </dict>
            <key>flag_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{318,256}}</string>
                <key>offset</key>
                <string>{9,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,1},{318,256}}</string>
                <key>sourceSize</key>
                <string>{336,288}</string>
            </dict>
            <key>flag_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{314,260}}</string>
                <key>offset</key>
                <string>{11,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,1},{314,260}}</string>
                <key>sourceSize</key>
                <string>{336,288}</string>
            </dict>
            <key>flag_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,264},{310,264}}</string>
                <key>offset</key>
                <string>{13,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,2},{310,264}}</string>
                <key>sourceSize</key>
                <string>{336,288}</string>
            </dict>
            <key>flag_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{306,270}}</string>
                <key>offset</key>
                <string>{15,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,1},{306,270}}</string>
                <key>sourceSize</key>
                <string>{336,288}</string>
            </dict>
            <key>flag_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{310,264}}</string>
                <key>offset</key>
                <string>{13,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,2},{310,264}}</string>
                <key>sourceSize</key>
                <string>{336,288}</string>
            </dict>
            <key>flag_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{314,260}}</string>
                <key>offset</key>
                <string>{11,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,1},{314,260}}</string>
                <key>sourceSize</key>
                <string>{336,288}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flag.png</string>
            <key>size</key>
            <string>{950,794}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d510352927b5cf0f4c8578f2110a396$</string>
            <key>textureFileName</key>
            <string>flag.png</string>
        </dict>
    </dict>
</plist>
