<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>headstart_effect1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{642,1056}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{642,1056}}</string>
                <key>sourceSize</key>
                <string>{648,1056}</string>
            </dict>
            <key>headstart_effect2.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{616,1056}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{616,1056}}</string>
                <key>sourceSize</key>
                <string>{648,1056}</string>
            </dict>
            <key>headstart_effect3.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,620},{612,1052}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,2},{612,1052}}</string>
                <key>sourceSize</key>
                <string>{648,1056}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>headstart_effect.png</string>
            <key>size</key>
            <string>{1704,1234}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2eb5e284444a44243264820b3a69316$</string>
            <key>textureFileName</key>
            <string>headstart_effect.png</string>
        </dict>
    </dict>
</plist>
