<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{622,582}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{622,582}}</string>
                <key>sourceSize</key>
                <string>{622,582}</string>
            </dict>
            <key>boss1_eyes_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,562},{340,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{340,54}}</string>
                <key>sourceSize</key>
                <string>{352,72}</string>
            </dict>
            <key>boss1_eyes_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,506},{340,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{340,54}}</string>
                <key>sourceSize</key>
                <string>{352,72}</string>
            </dict>
            <key>boss1_eyes_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,450},{340,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{340,54}}</string>
                <key>sourceSize</key>
                <string>{352,72}</string>
            </dict>
            <key>boss1_eyes_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,394},{340,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{340,54}}</string>
                <key>sourceSize</key>
                <string>{352,72}</string>
            </dict>
            <key>boss1_eyes_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,344},{340,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{340,54}}</string>
                <key>sourceSize</key>
                <string>{352,72}</string>
            </dict>
            <key>boss1_eyes_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,338},{340,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{340,54}}</string>
                <key>sourceSize</key>
                <string>{352,72}</string>
            </dict>
            <key>boss1_eyes_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,282},{340,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{340,54}}</string>
                <key>sourceSize</key>
                <string>{352,72}</string>
            </dict>
            <key>boss1_eyes_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,226},{340,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{340,54}}</string>
                <key>sourceSize</key>
                <string>{352,72}</string>
            </dict>
            <key>boss1_eyes_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,170},{340,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{340,54}}</string>
                <key>sourceSize</key>
                <string>{352,72}</string>
            </dict>
            <key>boss1_eyes_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,114},{340,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{340,54}}</string>
                <key>sourceSize</key>
                <string>{352,72}</string>
            </dict>
            <key>boss1_eyes_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,58},{340,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{340,54}}</string>
                <key>sourceSize</key>
                <string>{352,72}</string>
            </dict>
            <key>boss1_eyes_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,58},{340,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{340,54}}</string>
                <key>sourceSize</key>
                <string>{352,72}</string>
            </dict>
            <key>boss1_eyes_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,58},{340,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{340,54}}</string>
                <key>sourceSize</key>
                <string>{352,72}</string>
            </dict>
            <key>boss1_eyes_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,58},{340,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{340,54}}</string>
                <key>sourceSize</key>
                <string>{352,72}</string>
            </dict>
            <key>boss1_eyes_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,58},{340,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{340,54}}</string>
                <key>sourceSize</key>
                <string>{352,72}</string>
            </dict>
            <key>boss1_eyes_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,58},{340,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{340,54}}</string>
                <key>sourceSize</key>
                <string>{352,72}</string>
            </dict>
            <key>boss1_eyes_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,58},{340,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{340,54}}</string>
                <key>sourceSize</key>
                <string>{352,72}</string>
            </dict>
            <key>boss1_eyes_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,58},{340,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{340,54}}</string>
                <key>sourceSize</key>
                <string>{352,72}</string>
            </dict>
            <key>boss1_eyes_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,58},{340,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{340,54}}</string>
                <key>sourceSize</key>
                <string>{352,72}</string>
            </dict>
            <key>boss1_eyes_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,58},{340,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{340,54}}</string>
                <key>sourceSize</key>
                <string>{352,72}</string>
            </dict>
            <key>boss1_eyes_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,58},{340,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{340,54}}</string>
                <key>sourceSize</key>
                <string>{352,72}</string>
            </dict>
            <key>boss1_eyes_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,58},{340,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{340,54}}</string>
                <key>sourceSize</key>
                <string>{352,72}</string>
            </dict>
            <key>boss1_eyes_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,58},{340,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{340,54}}</string>
                <key>sourceSize</key>
                <string>{352,72}</string>
            </dict>
            <key>boss1_eyes_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,58},{340,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{340,54}}</string>
                <key>sourceSize</key>
                <string>{352,72}</string>
            </dict>
            <key>boss1_eyes_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,2},{340,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{340,54}}</string>
                <key>sourceSize</key>
                <string>{352,72}</string>
            </dict>
            <key>boss1_eyes_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,338},{340,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{340,54}}</string>
                <key>sourceSize</key>
                <string>{352,72}</string>
            </dict>
            <key>boss1_eyes_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{340,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{340,54}}</string>
                <key>sourceSize</key>
                <string>{352,72}</string>
            </dict>
            <key>boss1_paw.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,586},{180,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,282}}</string>
                <key>sourceSize</key>
                <string>{180,282}</string>
            </dict>
            <key>boss1_wing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{310,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,286}}</string>
                <key>sourceSize</key>
                <string>{310,286}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss1.png</string>
            <key>size</key>
            <string>{1024,998}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf0e67b0ddc21c680c750ec55fffff4d$</string>
            <key>textureFileName</key>
            <string>boss1.png</string>
        </dict>
    </dict>
</plist>
