<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{622,576}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{622,576}}</string>
                <key>sourceSize</key>
                <string>{622,582}</string>
            </dict>
            <key>boss5_paw.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,290},{180,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,282}}</string>
                <key>sourceSize</key>
                <string>{180,282}</string>
            </dict>
            <key>boss5_wing.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{310,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,286}}</string>
                <key>sourceSize</key>
                <string>{310,286}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss5.png</string>
            <key>size</key>
            <string>{938,580}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05dbea25d6cd4c2693c3c2d8aca934c6$</string>
            <key>textureFileName</key>
            <string>boss5.png</string>
        </dict>
    </dict>
</plist>
