<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{622,582}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{622,582}}</string>
                <key>sourceSize</key>
                <string>{622,582}</string>
            </dict>
            <key>boss3_paw.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,290},{180,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,282}}</string>
                <key>sourceSize</key>
                <string>{180,282}</string>
            </dict>
            <key>boss3_wing.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{310,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,286}}</string>
                <key>sourceSize</key>
                <string>{310,286}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss3.png</string>
            <key>size</key>
            <string>{938,586}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64b5b517613f4202008656ec078b6826$</string>
            <key>textureFileName</key>
            <string>boss3.png</string>
        </dict>
    </dict>
</plist>
